<div>
            <section id="slider" class="slider-element revslider-wrap h-auto">

                <div class="rev_slider_wrapper"
                    style="width: 100%;margin: 0 auto; background:#000;padding:0px;margin-top:0px;margin-bottom:0px;">
                    <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
                    <div id="rev_slider_19_1" class="rev_slider fullwidthabanner" style="display:none;"
                        data-version="5.4.1">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-48" data-transition="fade" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="300"
                                data-thumb="{{asset('assets/images/slide/competence.jpg')}}" data-rotate="0"
                                data-saveperformance="off" data-title="Centre d'information sur les compétences">
                                <!-- MAIN IMAGE -->
                                <img src="{{asset('assets/images/slide/dummy.png')}}" alt="Image"
                                    data-lazyload="{{asset('assets/images/slide/competence.jpg')}}"
                                    data-bgposition="center center" data-kenburns="on" data-duration="30000"
                                    data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
                                    data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->

                                <!-- LAYER NR. 1 -->
                                <div class="tp-caption   tp-resizeme" id="slide-48-layer-1" data-x="['left']"
                                    data-hoffset="['40']" data-y="['bottom']" data-voffset="['80']"
                                    data-width="['580','480','340','260']" data-fontsize="['36']"
                                    data-lineheight="['46']" data-height="none" data-whitespace="normal"
                                    data-type="text" data-basealign="slide" data-responsive_offset="on"
                                    data-frames='[{"from":"y:20px;opacity:0;","speed":2000,"to":"o:1;","delay":400,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; min-width: 700px; max-width: 700px; white-space: normal; font-size: 36px; line-height: 46px; font-weight: bold; color: #fff; font-family: 'robotolight', sans-serif;">
                                    Centre d'information <br>sur les compétences</div>

                                <div class="tp-caption" id="slide-48-layer-2" data-x="['left']" data-hoffset="['40']"
                                    data-y="['bottom']" data-voffset="['28']" data-fontsize="16" data-width="auto"
                                    data-height="none" data-whitespace="normal" data-type="text" data-actions=''
                                    data-basealign="slide" data-responsive_offset="on"
                                    data-frames='[{"from":"y:20px;opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['left','left','left','left']"
                                    style="background-color:#a13f3f; color:#fff; border-radius:4px; padding:5px 10px 5px 10px;">
                                    <a href="information_hub.html" style="color:#fff;">Explorer</a></div>


                            </li>

                            <!-- SLIDE  -->
                            <li data-index="rs-49" data-transition="fade" data-slotamount="default"
                                data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
                                data-easeout="default" data-masterspeed="300" data-thumb="{{asset('assets/images/slide/jeunechercheur.jpg')}}"
                                data-rotate="0" data-saveperformance="off" data-title="Jeunes et chercheurs
d'emploi">
                                <!-- MAIN IMAGE -->
                                <img src="{{asset('assets/images/slide/dummy.png')}}" alt="Image" data-lazyload="{{asset('assets/images/slide/jeunechercheur.jpg')}}"
                                    data-bgposition="center center" data-kenburns="on" data-duration="30000"
                                    data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120"
                                    data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0"
                                    data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                                <div class="tp-caption   tp-resizeme" id="slide-49-layer-1" data-x="['left']"
                                    data-hoffset="['40']" data-y="['bottom']" data-voffset="['80']"
                                    data-width="['580','480','340','260']" data-fontsize="['36']"
                                    data-lineheight="['46']" data-height="none" data-whitespace="normal"
                                    data-type="text" data-basealign="slide" data-responsive_offset="on"
                                    data-frames='[{"from":"y:20px;opacity:0;","speed":2000,"to":"o:1;","delay":400,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                                    data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
                                    data-paddingleft="[0,0,0,0]"
                                    style="z-index: 7; min-width: 700px; max-width: 700px; white-space: normal; font-size: 36px; line-height: 46px; font-weight: bold; color: #fff; font-family: 'robotolight', sans-serif;">
                                    Jeunes et chercheurs d'emploi</div>

                                <div class="tp-caption" id="slide-49-layer-2" data-x="['left']" data-hoffset="['40']"
                                    data-y="['bottom']" data-voffset="['28']" data-fontsize="16" data-width="auto"
                                    data-height="none" data-whitespace="normal" data-type="text" data-actions=''
                                    data-basealign="slide" data-responsive_offset="on"
                                    data-frames='[{"from":"y:20px;opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                                    data-textAlign="['left','left','left','left']"
                                    style="background-color:#a13f3f; color:#fff; border-radius:4px; padding:5px 10px 5px 10px;">
                                    <a href="youth_home_page.html" style="color:#fff;">Explorer</a></div>


                            </li>
                        </ul>

                    </div>
                </div>

            </section>
        </div>