<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Oriente Jeune</title>

    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{asset('assets/css/bootstrap-icons.css')}}" rel="stylesheet">

    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/settings.css')}}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/layers.css')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/navigation.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style.css')}}" type="text/css" />




    <script src="{{asset('assets/js/jquery.js')}}"></script>
    <script src="{{asset('assets/js/jquery-ui.js')}}"></script>

    <style>
        /* Revolution Slider Styles */
        .hesperiden .tp-tab {
            border-bottom: 0;
        }

        .hesperiden .tp-tab:hover,
        .hesperiden .tp-tab.selected {
            background-color: #3b3b3b;
        }

        .line-clampDivTemplate {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 50px;
        }
    </style>

</head>

<body>
		<!--DEBUT HEADER -->
            {% include "front/header.html.twig" %}
		<!--FIN HEADER -->
		<!--DEBUT NAV -->
            {% include "front/nav.html.twig" %}
		<!-- FIN NAV -->
		
        <main>
            <!--DEBUT CAROUSEL -->
                      {% include "front/carousel.html.twig" %}
            <!--FIN CAROUSEL -->
            
            <!--DEBUT CONTENU -->
              <section class="section-padding">
                  <div class="container">
                      <div class="row">

                          <div class="col-lg-10 col-12 text-center mx-auto">
                              <h2 class="mb-5">Le METFP ( Lien vers site web )</h2><br>
                              <h2 class="mb-5">Marché de travail (Lien vers INSERJEUNE )</h2><br>
                              <h2 class="mb-5">Parcours de formation "Synoptique"</h2><br>
                              <h2 class="mb-5">Cartographie des établissements d' ETFP</h2><br>
                              <h2 class="mb-5">Contributeurs</h2><br>
                          </div>

                      </div>
                  </div>
              </section>
            <!--FIN CONTENU -->
        </main>
		<!--DEBUT FOOTER -->
			 {% include "front/footer.html.twig" %}
		<!--FIN FOOTER -->
        <!-- JAVASCRIPT FILES -->
    <script src="{{ asset('assets/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.themepunch.tools.min.js')}}"></script>
    <script src="{{asset('assets/js/jquery.themepunch.revolution.min.js')}}"></script>
    <script src="{{asset('assets/js/revolution.extension.carousel.min.js')}}"></script>
    <script src="{{asset('assets/js/revolution.extension.kenburn.min.js')}}"></script>
    <script src="{{asset('assets/js/revolution.extension.navigation.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/revolution.extension.actions.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/revolution.extension.layeranimation.min.js')}}"></script>

    <!-- script src="js/plugins.min.js"></script -->



    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->


    <!-- ADD-ONS JS FILES -->
    <script>
        var tpj = jQuery;
        var revapi19;
        var $ = jQuery.noConflict();
        tpj(document).ready(function () {
            if (tpj("#rev_slider_19_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_19_1");
            } else {
                revapi19 = tpj("#rev_slider_19_1").show().revolution({
                    sliderType: "carousel",
                    jsFileLocation: "assets/js/",
                    sliderLayout: "fullwidth",
                    dottedOverlay: "none",
                    delay: 7000,
                    navigation: {
                        keyboardNavigation: "off",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "off",
                        onHoverStop: "on",
                        tabs: {
                            style: "hesperiden",
                            enable: true,
                            width: 260,
                            height: 80,
                            min_width: 260,
                            wrapper_padding: 25,
                            wrapper_color: "#000000",
                            wrapper_opacity: "1",
                            tmp: '<div class="tp-tab-content"> <span class="tp-tab-title font-secondary"></span> </div><div class="tp-tab-image"></div>',
                            visibleAmount: 9,
                            hide_onmobile: false,
                            hide_under: 480,
                            hide_onleave: false,
                            hide_delay: 200,
                            direction: "vertical",
                            span: true,
                            position: "left",
                            space: 0,
                            h_align: "left",
                            v_align: "center",
                            h_offset: 0,
                            v_offset: 0
                        }
                    },
                    carousel: {
                        horizontal_align: "center",
                        vertical_align: "center",
                        fadeout: "on",
                        vary_fade: "on",
                        maxVisibleItems: 3,
                        infinity: "on",
                        space: 0,
                        stretch: "off",
                        showLayersAllTime: "off",
                        easing: "Power3.easeInOut",
                        speed: "800"
                    },
                    responsiveLevels: [1140, 992, 768, 576],
                    visibilityLevels: [1140, 992, 768, 576],
                    gridwidth: [850, 700, 400, 300],
                    gridheight: [580, 600, 500, 400],
                    lazyType: "single",
                    shadow: 0,
                    spinner: "off",
                    stopLoop: "on",
                    stopAfterLoops: -1,
                    stopAtSlide: -1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "off",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        }); /* Revolution Slider End */

    </script>

</body>
</html>